.lopster{
  display:none;
  position: fixed;
  z-index: 2;
  background: #c9d6df;
  box-shadow:0px 2px 5px black;
  color:#1e2022;
  max-width:100%;

}

.fa-caret-down{
  font-size: 5px;
  padding-top: 5px;
}

#u{
  padding-left:5px ;
}

#li{
  padding-right: 0;
}

#siri{
  float:left;
  margin:1px 45px 40px 30px;
  height:100%;
  width:30%;
  border-radius: 5px;
  box-shadow: 5px 5px 15px black;

}

.jumbotron-fluid{
  height:450px;
  max-width: 100%;
  font-size:10vw;
}


#siril{
  padding:10px 20px 10px 20px;
  box-sizing: border-box;
  line-height: 2.0;
}

#but{
  border:0;
  margin-right:100px;
  display: inline-block;
  float:right;
}

#but button{
  border: 0px;
  border-radius: 5px;
  background: #52616b;
  color:#c9d6df;
  outline:none;

}
#but button:hover{
  background:#c9d6df;
  color:#52616b;
}

#cont-2{

   margin:50px;
   text-align:center;
   font-size:15px;
   padding:4% 1%;
}


#cont-2 .lot{
  float:left;
  width:25%;

}

.num{
  font-size:1.6em;
  text-shadow: 3px 3px 6px #afacac;
}

.plus{
  font-size:0.8em;
}

#two{
  margin-bottom:10px;
}

.add{
  transform : translate()
}

.texth{
  display:none;
}

.numh{
  display:none;
}

.img1{
  height:700px;
  }

#cont-3{
  display:none;
  margin:0px auto;

}

.lop{
  font-size:30px;
  height:400px;
}




.textinfra{
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding-top:100px;
  padding-bottom: 100px;
  font-size: 2.5em;
  border:1px solid orange;
  background: #c9d6df;
  transition: 1s linear;
  transition-delay: 0.8s;
  float:left;
  width:100%;
  color:#52616b;

}

.imp{
  height: 100%;
  padding-left: 60px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 40px;;
  padding-right:40px;
  font-size: 0.7em;
  line-height: 40px;
  letter-spacing: 1px;
  word-spacing: 3px;
  border:1px solid red;
  display: none;
  padding-left: 830px;
  color:#1e2022;
}

#cont-3{
  box-sizing:border-box;
  margin:0 100px 0px 100px;
}




#container{
  height: 400px;
  font-size:30px;
}

.laser{
  width:100%;
  float:left;
  text-align:center;
  box-sizing: border-box;
  border:1px solid red;
  font-size: 2.5em;
  padding-bottom: 60px;
  padding-top:120px;
  background-color:#52616b;
  color:#c9d6df;
  transition: 1s linear;
  transition-delay: 1.2s;
  height:100%;


}
.equipments{
  box-sizing: border-box;
  border:1px solid black;
    padding-left:850px;
    height:100%;
    line-height: 2.0;
    padding-top:60px;
    padding-bottom: 100px;
    font-size: 0.9em;
    letter-spacing: 1px;
    word-spacing: 2px;
    display:none;
    color:black;
}
.equipments ul{
  list-style-type: none;
}

.dd{
   color:#1e2022;

}

.dd:hover{
  text-decoration: none;
  color:#52616b;

}
.slideleft{
  width:50%;
}

#cont-5{
  height:700px;
  font-size:30px;
  border:1px solid red;
  margin:0 auto;
}

/* .clientimgs{
  display:none;
} */

#client{
   font-size: 2.0em;
   text-align: center;

}

.le{
  text-align:center;
}

.le img{
  margin:40px;
}

.clientimgs:hover{
  transform:scale(2.0);
}

#quote h1{
  text-align: center;
  box-sizing: border-box;
  color:#1e2022;
}
#quote h6{
  text-align: center;
  margin-bottom: 20px;
  color:#1e2022;
  padding-top: 12px;

}

fieldset{
  margin:50px 300px 20px 300px;;
  text-align: center;
  box-sizing: border-box;
  width:50%;

}

input{
box-sizing: border-box;
  width:75%;
  margin:10px;
  padding:15px 15px 10px 15px;;
  outline:none;
  border:0px;
  border-bottom: 1px solid #52616b;

}

input[type="submit"]{
  border: 0.5px solid #52616b;
  color:#1e2022;
  border-radius: 6px;
  width:50%;

}
form input,textarea{
  background: #c9d6df;
}
input[type="text"]:focus,input[type="email"]:focus{
  border-bottom: 1.25px solid #f0f5f9;

}
input[type="submit"]:hover{
  background: #1e2022;
  color:#c9d6df;
}
textarea:focus{
  border: 1.25px solid #f0f5f9;
}



textarea{
  margin-right: 20px;
  margin-top: 15px;
  outline:none;
  padding:15px;
  resize:none;
  margin-left: 20px;
  border: 1px solid #52616b;
  border-radius: 5px;

}

.tar{
  display: none;
  box-sizing: border-box;
}

span #li{
   position: -10px;
}


#quote{
  margin:0 150px 0 150px;
  height:615px;
    background: #c9d6df;
  box-sizing: border-box;
  padding-top:15px;
}






.bottom{
  background:#f0f5f9;
  text-align: center;

}
.bottom ul{
  list-style-type: none;
}

.bottom li{
  line-height: 2.0;
  font-size: 30px;
  letter-spacing: 1px;
}
hr {
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    color:#d1cebd;
}

.copy{
  font-size: 0.9em;
  display: inline;
}
body{
  margin:0;

}

#hov, #hoe{
  height:250px;
  font-size:20px;
}

#hoe{
  padding-top: 0px;
}

#hov h1{
  font-size:25px;
  text-align :center;
  margin:15px;
  font-size: 1em;
}
#hov ul{
   list-style-type: none;
   height:100%;
   box-sizing: border-box;
   margin-bottom:15px;


}

.pressbreak li{
  margin-left:100px;
  line-height: 35px;
  font-size: 0.9em;
  display:none;


}

.others h1{
  padding-right:80px;
}

.la li{
  margin-left:75px;
  line-height: 35px;
  font-size: 0.9em;
  display:none;
}
.others li{
  margin-left:130px;
  line-height: 35px;
  font-size: 0.9em;
  display:none;
}

.nav-item{
  margin: 0 30px;
  font-size:18px;
  box-sizing: border-box;
}

.lobt{
  margin-left:0;
}
#lu{
  margin-right:0;
}

.lobt span:hover #lu{
  color:black;
}

.navbar-brand{
  margin-left: 40px;
  margin-right: 70px;
}

#hi {
position: relative;
  position: 10px 0 ;
}

ul.navbar-nav{
  width:100%;
}

.jumbotron{
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




font-size:15px;
line-height: 40px;
}

.navbar{
  background-color:#f0f5f9;
}

.nav-link,.navbar-brand{
  color:#1e2022;
}

.bottom{
  background: #f0f5f9;
  color:#1e2022;
}

.nav-link:hover,.navbar-brand:hover{
  color:#52616b;
}

#gall{
  border:1px solid #d1cebd;
  width:130px;
  text-align: center;
  background: #c9d6df;
  border-radius: 5px;
  color:#52616b;
  outline:none;
}
#gall:hover{
  color:#c9d6df;
  background:#52616b;
}
.revert{
  color:#d63447;
  background:#  #f6eedf;
}
