.lopster{
  display:none;
  position: fixed;
  z-index: 2;
  background: #f6eedf;
  box-shadow:0px 2px 5px black;
  color:#d63447;

}

.fa-caret-down{
  font-size: 5px;
  padding-top: 5px;
}

#u{
  padding-left:5px ;
}

#li{
  padding-right: 0;
}

#siri{
  float:left;
  margin:5px 45px 40px 30px;
  height:66%;

}

.jumbotron-fluid{
  height:600px;
}

#siril{
  padding:10px 20px 10px 20px;
  box-sizing: border-box;
  line-height: 2.0;
}

#but{
  border:0;
  margin-right:100px;
  display: inline-block;
  float:right;
}

#cont-2{

   margin:50px;
   text-align:center;
   font-size:15px;
   padding:4% 1%;
}


#cont-2 .lot{
  float:left;
  width:25%;

}

.num{
  font-size:1.6em;
}

.plus{
  font-size:0.8em;
}

#two{
  margin-bottom:10px;
}

.add{
  transform : translate()
}

.texth{
  display:none;
}

.numh{
  display:none;
}

.img1{
  height:700px;
  }

#cont-3{
  display:none;
  margin:0px auto;

}

.lop{
  font-size:30px;
  height:400px;
}




.textinfra{
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding-top:100px;
  padding-bottom: 100px;
  font-size: 2.5em;
  border:1px solid orange;
  background: #d63447;
  transition: 1s linear;
  transition-delay: 0.8s;
  float:left;
  width:100%;
  color:#f6eedf;

}

.imp{
  height: 100%;
  padding-left: 60px;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 40px;;
  padding-right:40px;
  font-size: 0.7em;
  line-height: 40px;
  letter-spacing: 1px;
  word-spacing: 3px;
  border:1px solid red;
  display: none;
  padding-left: 830px;
  color:#d1cebd;
}

#cont-3{
  box-sizing:border-box;
  margin:0 100px 0px 100px;
}




#container{
  height: 400px;
  font-size:30px;
}

.laser{
  width:100%;
  float:left;
  text-align:center;
  box-sizing: border-box;
  border:1px solid red;
  font-size: 2.5em;
  padding-bottom: 60px;
  padding-top:120px;
  background-color:#f6eedf;
  color:#d63447;
  transition: 1s linear;
  transition-delay: 1.2s;
  height:100%;


}
.equipments{
  box-sizing: border-box;
  border:1px solid black;
    padding-left:850px;
    height:100%;
    line-height: 2.0;
    padding-top:80px;
    padding-bottom: 80px;
    font-size: 0.7em;
    letter-spacing: 1px;
    word-spacing: 2px;
    display:none;




}
.slideleft{
  width:50%;
}

#cont-5{
  height:700px;
  font-size:30px;
  border:1px solid red;
  margin:0 auto;
}

/* .clientimgs{
  display:none;
} */

#client{
   font-size: 2.0em;
   text-align: center;

}

.le{
  text-align:center;
}

.le img{
  margin:40px;
}

.le img:hover{
  transform:scale(1.7);
}

#quote h1{
  text-align: center;
  box-sizing: border-box;
  color:#d63447;
}
#quote h6{
  text-align: center;
  margin-bottom: 20px;
  color:#d63447;
  padding-top: 12px;

}

fieldset{
  margin:50px 300px 20px 300px;;
  text-align: center;
  box-sizing: border-box;
  width:50%;

}

input{
box-sizing: border-box;
  width:75%;
  margin:10px;
  padding:15px 15px 10px 15px;;
  outline:none;
  border:0px;
  border-bottom: 1px solid #d1cebd;

}

input[type="submit"]{
  border: 0.5px solid #d1cebd;
  color:#d63447;
  border-radius: 6px;
  width:50%;

}
form input,textarea{
  background: #f6eedf;
}
input[type="text"]:focus,input[type="email"]:focus{
  border-bottom: 1.25px solid #d63447;

}
input[type="submit"]:hover{
  background: #d63447;
  color:#f6eedf;
}
textarea:focus{
  border: 1.25px solid #d63447;
}



textarea{
  margin-right: 20px;
  margin-top: 15px;
  outline:none;
  padding:15px;
  resize:none;
  margin-left: 20px;
  border: 1px solid #d1cebd;
  border-radius: 5px;

}

.tar{
  display: none;
  box-sizing: border-box;
}

span #li{
   position: -10px;
}


#quote{
  margin:0 150px 0 150px;
  height:615px;
    background: #f6eedf;
  box-sizing: border-box;
  padding-top:15px;
}






.bottom{
  background:red;
  text-align: center;

}
.bottom ul{
  list-style-type: none;
}

.bottom li{
  line-height: 2.0;
  font-size: 30px;
  letter-spacing: 1px;
}
hr {
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    color:#d1cebd;
}

.copy{
  font-size: 0.9em;
  display: inline;
}
body{
  margin:0;

}

#hov, #hoe{
  height:250px;
  font-size:20px;
}

#hoe{
  padding-top: 0px;
}

#hov h1{
  font-size:25px;
  text-align :center;
  margin:15px;
  font-size: 1em;
}
#hov ul{
   list-style-type: square;
   border :1px solid red;
   height:100%;
   box-sizing: border-box;
   margin-bottom:15px;


}

.pressbreak li{
  margin-left:100px;
  line-height: 32px;
  font-size: 0.8em;
  display:none;


}

.la li{
  margin-left:75px;
  line-height: 32px;
  font-size: 0.8em;
  display:none;
}
.others li{
  margin-left:160px;
  line-height: 32px;
  font-size: 0.8em;
  display:none;
}

.nav-item{
  margin: 0 30px;
  font-size:18px;
  box-sizing: border-box;
}

.lobt{
  margin-left:0;
}
#lu{
  margin-right:0;
}

.lobt span:hover #lu{
  color:black;
}

.navbar-brand{
  margin-left: 40px;
  margin-right: 70px;
}

#hi {
position: relative;
  position: 10px 0 ;
}

ul.navbar-nav{
  width:100%;
}

.jumbotron{
  /* background: #fc4a1a;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */ */ */
background: #005AA7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #36D1DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #CB356B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #f46b45;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #c21500;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc500, #c21500);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc500, #c21500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #ED213A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #fffbd5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b20a2c, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b20a2c, #fffbd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #fffbd5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #b20a2c, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #b20a2c, #fffbd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #2980B9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #f46b45;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background: #de6161;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2657eb, #de6161); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.navbar{
  background-color:#d63447;
}

.nav-link,.navbar-brand{
  color:#f6eedf;
}

.bottom{
  background: #d63447;
  color:#f6eedf;
}
